// _backgrounds.scss

@for $i from 1 through length($colorNames) {
    $n: nth($colorNames, $i);
    $c: nth($colorDefault, $i);
    $l: nth($colorLight, $i);
    $d: nth($colorDark, $i);
    .bg-#{$n} {
        background-color: #{$c};
    }
    .bg-#{$n}.bg-light {
        background-color: #{$l};
    }
    .bg-#{$n}.bg-dark {
        background-color: #{$d};
    }
}