// _colors.scss

@for $i from 1 through length($colorNames) {
    $n: nth($colorNames, $i);
    $c: nth($colorDefault, $i);
    $l: nth($colorLight, $i);
    $d: nth($colorDark, $i);
    .#{$n} {
        color: #{$c};
    }
    .#{$n}.light {
        color: #{$l};
    }
    .#{$n}.dark {
        color: #{$d};
    }
}