body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: calc(100% - 10vw);
  margin: auto;
  height: 100%;
}

.grid {
  width: 100%;
  font-size: 0.9em;
}
.grid .row {
  min-height: 40px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-items: center;
  padding-left: 5px;
  padding-top: 5px;
  border-bottom: 2px solid #333;
  margin-bottom: 10px;
  /* Elements */
}
.grid .row .cell {
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  flex: 1;
  flex-basis: calc(100px - 5px);
  overflow: hidden;
}
.grid .row .cell * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.grid .row .cell .vertical-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
}
.grid .row .cell .vcell {
  margin-bottom: 5px;
  font-size: 12px;
  width: 100%;
}
.grid .row .cell .icon {
  text-align: center;
  width: 20px;
  height: 20px;
}
.grid .row .cell .icon.xs {
  width: 15px;
  height: 15px;
}
.grid .row .cell .icon.sm {
  width: 25px;
  height: 25px;
}
.grid .row .cell .icon.md {
  width: 35px;
  height: 35px;
}
.grid .row .cell .icon.lg {
  width: 45px;
  height: 45px;
}
.grid .row .cell .icon.xl {
  width: 55px;
  height: 55px;
}
.grid .row .cell .icon img, .grid .row .cell .icon svg {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.grid .row .cell .button {
  padding: 7px 10px;
  border: 1px solid #F9F9F9;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin-left: 6px;
}
.grid .row .cell .button:first-child {
  margin-left: 0;
}
.grid .row .cell .button.round {
  border-radius: 50%;
  padding: 6px;
}
.grid .row .cell .button.inline {
  display: inline-block;
}
.grid .row .cell .button.orange {
  background-color: #FC9C49;
  color: #F9F9F9;
  border-color: #FC9C49;
}
.grid .row .cell .button.orange:hover {
  background-color: #9B4D09;
  color: #F9F9F9;
  border-color: #9B4D09;
}
.grid .row .cell .button.orange.light {
  background-color: #FCB77B;
  color: #333333;
  border-color: #FCB77B;
}
.grid .row .cell .button.orange.light:hover {
  background-color: #FC9C49;
  color: #F9F9F9;
  border-color: #FC9C49;
}
.grid .row .cell .button.orange.dark {
  background-color: #9B4D09;
  color: #F9F9F9;
  border-color: #9B4D09;
}
.grid .row .cell .button.orange.dark:hover {
  background-color: #FC9C49;
  color: #F9F9F9;
  border-color: #FC9C49;
}
.grid .row .cell .button.yellow {
  background-color: #FED766;
  color: #F9F9F9;
  border-color: #FED766;
}
.grid .row .cell .button.yellow:hover {
  background-color: #937005;
  color: #F9F9F9;
  border-color: #937005;
}
.grid .row .cell .button.yellow.light {
  background-color: #FFDC75;
  color: #333333;
  border-color: #FFDC75;
}
.grid .row .cell .button.yellow.light:hover {
  background-color: #FED766;
  color: #F9F9F9;
  border-color: #FED766;
}
.grid .row .cell .button.yellow.dark {
  background-color: #937005;
  color: #F9F9F9;
  border-color: #937005;
}
.grid .row .cell .button.yellow.dark:hover {
  background-color: #FED766;
  color: #F9F9F9;
  border-color: #FED766;
}
.grid .row .cell .button.green {
  background-color: #11AF3E;
  color: #F9F9F9;
  border-color: #11AF3E;
}
.grid .row .cell .button.green:hover {
  background-color: #1F5B30;
  color: #F9F9F9;
  border-color: #1F5B30;
}
.grid .row .cell .button.green.light {
  background-color: #7CC992;
  color: #333333;
  border-color: #7CC992;
}
.grid .row .cell .button.green.light:hover {
  background-color: #11AF3E;
  color: #F9F9F9;
  border-color: #11AF3E;
}
.grid .row .cell .button.green.dark {
  background-color: #1F5B30;
  color: #F9F9F9;
  border-color: #1F5B30;
}
.grid .row .cell .button.green.dark:hover {
  background-color: #11AF3E;
  color: #F9F9F9;
  border-color: #11AF3E;
}
.grid .row .cell .button.red {
  background-color: #FE4A49;
  color: #F9F9F9;
  border-color: #FE4A49;
}
.grid .row .cell .button.red:hover {
  background-color: #5E1B1B;
  color: #F9F9F9;
  border-color: #5E1B1B;
}
.grid .row .cell .button.red.light {
  background-color: #FF7A7A;
  color: #333333;
  border-color: #FF7A7A;
}
.grid .row .cell .button.red.light:hover {
  background-color: #FE4A49;
  color: #F9F9F9;
  border-color: #FE4A49;
}
.grid .row .cell .button.red.dark {
  background-color: #5E1B1B;
  color: #F9F9F9;
  border-color: #5E1B1B;
}
.grid .row .cell .button.red.dark:hover {
  background-color: #FE4A49;
  color: #F9F9F9;
  border-color: #FE4A49;
}
.grid .row .cell .button.blue {
  background-color: #009FB7;
  color: #F9F9F9;
  border-color: #009FB7;
}
.grid .row .cell .button.blue:hover {
  background-color: #004049;
  color: #F9F9F9;
  border-color: #004049;
}
.grid .row .cell .button.blue.light {
  background-color: #6EADB7;
  color: #333333;
  border-color: #6EADB7;
}
.grid .row .cell .button.blue.light:hover {
  background-color: #009FB7;
  color: #F9F9F9;
  border-color: #009FB7;
}
.grid .row .cell .button.blue.dark {
  background-color: #004049;
  color: #F9F9F9;
  border-color: #004049;
}
.grid .row .cell .button.blue.dark:hover {
  background-color: #009FB7;
  color: #F9F9F9;
  border-color: #009FB7;
}
.grid .row .cell .button.no-border {
  border: none;
}
.grid .row .cell-offset {
  height: 1px;
}
.grid .row .cell-1 {
  flex-grow: 0;
  flex-basis: calc(1 * calc(100px - 5px));
}
.grid .row .cell-2 {
  flex-grow: 0;
  flex-basis: calc(2 * calc(100px - 5px));
}
.grid .row .cell-3 {
  flex-grow: 0;
  flex-basis: calc(3 * calc(100px - 5px));
}
.grid .row .cell-4 {
  flex-grow: 0;
  flex-basis: calc(4 * calc(100px - 5px));
}
.grid .row .cell-5 {
  flex-grow: 0;
  flex-basis: calc(5 * calc(100px - 5px));
}
.grid .row .cell-6 {
  flex-grow: 0;
  flex-basis: calc(6 * calc(100px - 5px));
}
.grid .row .cell-7 {
  flex-grow: 0;
  flex-basis: calc(7 * calc(100px - 5px));
}
.grid .row .cell-8 {
  flex-grow: 0;
  flex-basis: calc(8 * calc(100px - 5px));
}
.grid .row .cell-9 {
  flex-grow: 0;
  flex-basis: calc(9 * calc(100px - 5px));
}
.grid .row .cell-10 {
  flex-grow: 0;
  flex-basis: calc(10 * calc(100px - 5px));
}
.grid .row .cell-11 {
  flex-grow: 0;
  flex-basis: calc(11 * calc(100px - 5px));
}
.grid .row .cell-12 {
  flex-basis: calc(100% - 5px);
}
.grid .row .checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.grid .row .checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.grid .row .checkbox input:checked ~ .mark {
  background-color: #2196F3;
}
.grid .row .checkbox input:checked ~ .mark::after {
  display: block;
}
.grid .row .checkbox:hover input ~ .mark {
  background-color: #ccc;
}
.grid .row .checkbox .mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.grid .row .checkbox .mark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}
.grid .xs {
  font-size: 0.6em;
}
.grid .sm {
  font-size: 0.9em;
}
.grid .md {
  font-size: 1.2em;
}
.grid .lg {
  font-size: 1.5em;
}
.grid .xl {
  font-size: 1.8em;
}
.grid .titolo {
  font-size: 1.4em;
}
.grid .titolo.xs {
  font-size: 1.1em;
}
.grid .titolo.sm {
  font-size: 1.6em;
}
.grid .titolo.md {
  font-size: 2.1em;
}
.grid .titolo.lg {
  font-size: 2.6em;
}
.grid .titolo.xl {
  font-size: 3.1em;
}
.grid .bold {
  font-weight: 700;
}
.grid .underline {
  text-decoration: underline;
}
.grid .aleft {
  text-align: left;
}
.grid .aright {
  text-align: right;
}
.grid .acenter {
  text-align: center;
}
.grid .orange {
  color: #FC9C49;
}
.grid .orange.light {
  color: #FCB77B;
}
.grid .orange.dark {
  color: #9B4D09;
}
.grid .yellow {
  color: #FED766;
}
.grid .yellow.light {
  color: #FFDC75;
}
.grid .yellow.dark {
  color: #937005;
}
.grid .green {
  color: #11AF3E;
}
.grid .green.light {
  color: #7CC992;
}
.grid .green.dark {
  color: #1F5B30;
}
.grid .red {
  color: #FE4A49;
}
.grid .red.light {
  color: #FF7A7A;
}
.grid .red.dark {
  color: #5E1B1B;
}
.grid .blue {
  color: #009FB7;
}
.grid .blue.light {
  color: #6EADB7;
}
.grid .blue.dark {
  color: #004049;
}
.grid .bg-orange {
  background-color: #FC9C49;
}
.grid .bg-orange.bg-light {
  background-color: #FCB77B;
}
.grid .bg-orange.bg-dark {
  background-color: #9B4D09;
}
.grid .bg-yellow {
  background-color: #FED766;
}
.grid .bg-yellow.bg-light {
  background-color: #FFDC75;
}
.grid .bg-yellow.bg-dark {
  background-color: #937005;
}
.grid .bg-green {
  background-color: #11AF3E;
}
.grid .bg-green.bg-light {
  background-color: #7CC992;
}
.grid .bg-green.bg-dark {
  background-color: #1F5B30;
}
.grid .bg-red {
  background-color: #FE4A49;
}
.grid .bg-red.bg-light {
  background-color: #FF7A7A;
}
.grid .bg-red.bg-dark {
  background-color: #5E1B1B;
}
.grid .bg-blue {
  background-color: #009FB7;
}
.grid .bg-blue.bg-light {
  background-color: #6EADB7;
}
.grid .bg-blue.bg-dark {
  background-color: #004049;
}
.grid .border {
  border: 1px solid;
}
.grid .no-border {
  border: none;
}
.grid .border-orange {
  border-color: #FC9C49;
}
.grid .border-orange.border-light {
  border-color: #FCB77B;
}
.grid .border-orange.border-dark {
  border-color: #9B4D09;
}
.grid .border-yellow {
  border-color: #FED766;
}
.grid .border-yellow.border-light {
  border-color: #FFDC75;
}
.grid .border-yellow.border-dark {
  border-color: #937005;
}
.grid .border-green {
  border-color: #11AF3E;
}
.grid .border-green.border-light {
  border-color: #7CC992;
}
.grid .border-green.border-dark {
  border-color: #1F5B30;
}
.grid .border-red {
  border-color: #FE4A49;
}
.grid .border-red.border-light {
  border-color: #FF7A7A;
}
.grid .border-red.border-dark {
  border-color: #5E1B1B;
}
.grid .border-blue {
  border-color: #009FB7;
}
.grid .border-blue.border-light {
  border-color: #6EADB7;
}
.grid .border-blue.border-dark {
  border-color: #004049;
}

.breadcrumb {
  padding: 5px;
  margin-bottom: 10px;
}
.breadcrumb a {
  text-decoration: none;
  color: #333333;
}
.breadcrumb .item {
  display: inline-block;
  margin-left: 5px;
}
.breadcrumb .item:first-child {
  margin-left: 0;
}
.breadcrumb .item:not(:first-child):before {
  display: inline-block;
  padding-right: 10px;
  width: 5px;
  content: url("images/bc-arrow.svg");
}
.breadcrumb .item.active {
  font-weight: 600;
}
.breadcrumb .orange {
  color: #FC9C49;
}
.breadcrumb .orange.light {
  color: #FCB77B;
}
.breadcrumb .orange.dark {
  color: #9B4D09;
}
.breadcrumb .yellow {
  color: #FED766;
}
.breadcrumb .yellow.light {
  color: #FFDC75;
}
.breadcrumb .yellow.dark {
  color: #937005;
}
.breadcrumb .green {
  color: #11AF3E;
}
.breadcrumb .green.light {
  color: #7CC992;
}
.breadcrumb .green.dark {
  color: #1F5B30;
}
.breadcrumb .red {
  color: #FE4A49;
}
.breadcrumb .red.light {
  color: #FF7A7A;
}
.breadcrumb .red.dark {
  color: #5E1B1B;
}
.breadcrumb .blue {
  color: #009FB7;
}
.breadcrumb .blue.light {
  color: #6EADB7;
}
.breadcrumb .blue.dark {
  color: #004049;
}

.menu {
  width: 250px;
  margin-bottom: 20px;
}
.menu .item {
  text-align: left;
  border-bottom: 1px solid #DDD;
  position: relative;
  width: 250px;
  background: #EFEFEF;
}
.menu .item.active {
  background: #DDD;
}
.menu .item .subitem {
  position: absolute;
  left: 100%;
  top: 0;
  width: 250px;
  visibility: hidden;
  pointer-events: none;
}
.menu .item:hover {
  background: #DDD;
}
.menu .item:hover > .subitem {
  visibility: visible;
  pointer-events: all;
}
.menu .item a {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  width: calc(100% - 20px);
  margin: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .item:last-child {
  border: none;
}

/*# sourceMappingURL=grid.css.map */
