$debug: false;
$light: #F9F9F9;
$dark: #333333;
$colorNames: ('orange', 'yellow', 'green', 'red', 'blue', 'white', 'black', 'grey');
$colorDefault: ('#FC9C49','#FED766','#11AF3E','#FE4A49','#009FB7', '#FFF', '#333', '#CCC');
$colorLight: ('#FCB77B','#FFDC75','#7CC992','#FF7A7A','#6EADB7', '#FFF', '#333', '#EFEFEF');
$colorDark: ('#9B4D09','#937005','#1F5B30','#5E1B1B','#004049', '#FFF', '#333', '#666');
$cell: 8.333333;
$spacing: 10;
$small: 600;
$medium: 840;
$large: 1200;
$titolo: 1.4;
$paragr: 0.9;
$dim: ('xs', 'sm', 'md', 'lg', 'xl');            
$fatt: -0.3;
$icon: 5;
$iconIncrement: 10;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    @if $debug {
        background: lightgray;
    }
    width: calc(100% - 10vw);
    margin: auto;
    height: 100%;
}
.grid {
    @if $debug {
        background-color: red;
    }
    width: 100%;
    font-size: 12px;
    
    @import 'row';

    // Typo
    font-size: #{$paragr}em;

    $pfatt: $fatt;
    @each $item in $dim {
        .#{$item} {
            font-size: #{$paragr + $pfatt}em;
        }
        $pfatt: $pfatt + 0.3;
    }

    .titolo {
        font-size: #{$titolo}em;

        $tfatt: $fatt;
        @each $item in $dim {
            &.#{$item} {
                font-size: #{$titolo + $tfatt}em;
            }
            $tfatt: $tfatt + 0.5;
        }
    }
    .bold {
        font-weight: 700;
    }
    .underline {
        text-decoration: underline;
    }
    .aleft {
        text-align: left;
    }
    .aright {
        text-align: right;
    }
    .acenter {
        text-align: center;
    }

    @import 'colors';
    @import 'backgrounds';
    @import 'borders';
  
} // Grid

.breadcrumb {
    padding: 5px;
    margin-bottom: 10px;

    a {
        text-decoration: none;
        color: $dark;
    }

    .item {
        display: inline-block;
        margin-left: 5px;
        &:first-child {
            margin-left: 0;
        }
        &:not(:first-child):before {
            display: inline-block;
            padding-right: 10px;
            width: 5px;
            content: url('images/bc-arrow.svg')
        }
        &.active {
            font-weight: 600;
        }
    }
    @import 'colors';
} // Breadcrumb

$width: 250;
.menu {
    width: 100%;
    margin-bottom: 20px;
    .item {
        text-align: left;
        border-bottom: 1px solid #DDD;
        position: relative;
        width: 100%;
        background: #EFEFEF;
        &.active {
            background: #DDD;
        }
        .subitem {
            position: absolute;
            left: 100%;
            top: 0;
            width: #{$width}px;
            visibility: hidden;
            pointer-events: none;
        }
        &:hover {
            background: #DDD;
            > .subitem {
                visibility: visible;
                pointer-events: all;
            }
        }
        a {
            text-decoration: none;
            color: $dark;
            display: inline-block;
            width: calc(100% - 20px);
            margin: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &:last-child {
            border: none;
        }
    }
}